name: Publish

on:
  release:
    types: [published]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'

      - name: Install Dependencies
        run: yarn install --immutable

      - run: yarn types:check

      - run: yarn test

      - run: yarn prettier:check

      - name: Build
        run: |
          yarn build
          test -f "dist/cjs/index.js"
          test -f "dist/esm/index.js"
          test -f "dist/types/index.d.ts"

      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
